<h1>Cohort Show Page</h1>
<%= javascript_include_tag 'show' %>

<div class="cohort-show">

  <p><%= link_to "Popsicle", cohort_popsicle_index_path(params[:id]) %></p>
  <p><%= link_to "Pairs" %></p>
  <p><%= link_to "New Project" %></p>
  <p><%= link_to "Projects" %></p>
</div>
